<!DOCTYPE html>
<html>
{{>head title=this.title subpage='Page X' }}

<body>
    {{>header  title=this.title}}

    <main>
        <br></br>
        <br></br>
        <H1>{{title}}</H1>
        

            This is order pay we will build it later
        <br></br> Thanks for your watching !
    </main>
         <br></br>
        <br></br>   

    {{>footer}}
</body>

</html>