<!DOCTYPE html>
<html>
{{>head title=this.title subpage='Page X' }}

<body>
    {{>header  title=this.title}}

    <main>
        <H1>{{title}}</H1>
        <br></br>
        <br></br>
            This is payment pay , if you guys want to paid your order, just send to Momo , Shopee pay number: 0909246357
        <br></br> Or send to VCB ATN shop by NTD number 12345678910
    </main>
         <br></br>
        <br></br>   

    {{>footer}}
</body>

</html>